@{
  Layout = "_Layout";
}

@using Registrar.Models;
@model List<Registrar.Models.Course>;

@{
    ViewBag.Title = "Course List";
}

<h1>Courses</h1>

    @if (Model.Count == 0)
    {
        <h3> No Courses have been added yet!</h3>
    }
<div class="card-deck">
    @foreach (var Course in Model)
    {
        var photoPath = "~/images/" + (Course.Image ?? "noimage.jpg");
        <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
            <div class="card-header">
                <li>@Html.ActionLink($"{Course.Name}", "Details", new {id = Course.CourseId})  </li>
            </div>

            <img class="card-img-top imageThumbnail" src="@Url.Content(@photoPath)"/>

            
        </div>
    }
    <div class="card-footer text-center">
                <p>@Html.ActionLink("Add new course", "Create")</p>
                <p>@Html.ActionLink("Home", "Index", "Home")</p>
        </div>
</div>